body {
    background-size: cover;
    background: url("/static/beautiful_blog_design-1.png") no-repeat fixed center;
}

body, html {
    height: 100%;
}

.eight {
    width: 80%;
    margin: 0 auto;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#footblock {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    color: white;
    text-align: center;
}

.avoid {
    margin-bottom: 150px;
    margin-left: 3rem;
}